body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #2c3e50;
}


header {
  background: #2c3e50;
  color: white;
  padding: 15px;
}

.sh, section h2{

    text-shadow: 2px 1px 3px #29547e

}

section {
    background-color: #a7a7a7;
    margin: -20px;
    padding: 20px;
}

 

nav a {
  color: rgb(255, 255, 255);
  margin: 10px;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #f39c12;
}

main {
  padding: 20px;
  flex: 1;
}

hr {
    width: auto;
    height: 10px;
    margin: 0px;
    background-color: #2c3e50;

}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th {
  background: #34495e;
  color: white;
}

tr:hover {
  background: #29547e;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

input, textarea {
    margin: 10px 0;
    padding: 8px;
}

button {
  background: #2c3e50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #f39c12;
}

footer {
  text-align: center;
  padding: 10px;
  background: #2c3e50;
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
  }
}
